


<!-- estructura de una pagina web -->

<!-- Asi funcionan los lenguajes de marcado o etiquetado -->

<!--<!DOCTYPE html>-->
<!--Esto es la para version del html pero no es necesario-->
<html>

    <head>
        <!--Configuraciones para los Metadatos -->
        <!--CSS-->
        <link rel="stylesheet" href="http://localhost:3001/css/estilos-generales.css">

    </head>

    <body>
        <p>Hola Soy <%= nombre %> !</p>
        <!--Contenido HTML-->
        <!--Scripts-->
        <script src="http://localhost:3001/js/logica-general.js">

        </script>
    </body>

</html>