<%- include('../compartido/menu/menu-compartido') %>
<%- include('../compartido/estilos-generales/estilos-generales-compartidos') %>
<h1>Login</h1>
<button onclick = "mensajeAlertar()">
    ALERTAR
</button>
<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>