<link rel="stylesheet" href="/css/estilos.css">

<form action="/marca/login" method="POST">
    <h1>Login</h1>
    <label for="usuarioId">Usuario</label>
    <input id="usuarioId"
           type="text"
           name="usuario">
    <label for="passwordId">Contraseña</label>
    <input id="passwordId"
           type="password"
           name="password">
    <button class="botons" type="submit">Iniciar Sesión</button>
</form>